@model ИсторияПравокСтатьи

<h2 class="mb-3">Изменить заявку</h2>

<p><i>Изменяемый текст:</i> @ViewBag.ChangedText</p>
<p><i>Изменяемая заявка:</i> @ViewBag.Text</p>

<form class="w-50" asp-action="Update" asp-controller="Request" asp-antiforgery="true">
    <div>
        <label for="text">Новая заявка</label>
        <textarea class="form-control mb-2" id="text" name="text"></textarea>
    </div>
    
    <input type="hidden" name="id" value="@ViewBag.Id" />
    <button class="btn btn-primary mt-2" type="submit" name="action">Изменить заявку</button>
</form>

